{% extends 'account/base.html' %}

{% block title %}{{ block.super }} - Confirm E-mail Address{% endblock %}

{% block body_content %}

{% if confirmation %}

<div class="alert alert-primary">Please confirm your e-mail address.</div>
<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <button type="submit">Confirm e-mail address</button>
</form>

{% else %}

<div class="alert alert-danger">This e-mail confirmation link expired or is invalid.</div>

{% endif %}

{% endblock %}
