{% extends 'account/base.html' %}

{% block title %}{{ block.super }} - Confirm E-mail Address{% endblock %}

{% block body_content %}

{% if confirmation %}

<form action="{% url 'account_confirm_email' confirmation.key %}" method="post" class="single-form">
    {% csrf_token %}

    <div class="alert alert-primary">Please confirm your e-mail address.</div>
    <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Confirm e-mail address</button>
</form>

{% else %}

<div class="alert alert-danger">This e-mail confirmation link expired or is invalid.</div>

{% endif %}

{% endblock %}
