{% extends 'account/base.html' %}

{% load widget_tweaks %}

{% block title %}{{ block.super }} - Log in{% endblock %}

{% block body_content %}
<form action="{% url 'account_login' %}" method="post" class="single-form">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}

    <div class="alert alert-secondary">If you have not created an account yet, then please <a href="{% url 'account_signup' %}" class="alert-link">sign up</a> first.</div>
    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}
    {{ form.login|add_class:"form-control form-control-lg mt-3"|add_error_class:"is-invalid" }}
    <div class="invalid-feedback">{{ form.login.errors }}</div>
    {{ form.password|add_class:"form-control form-control-lg mt-3" }}
    <div class="form-check mt-3">
        {{ form.remember|add_class:"form-check-input" }}
        <label for="id_remember" class="form-check-label">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Log in</button>
    <a href="{% url 'account_reset_password' %}" class="btn btn-link btn-lg btn-block">Forgot password?</a>
</form>
{% endblock %}
