{% extends 'account/base.html' %}

{% load widget_tweaks %}

{% block title %}{{ block.super }} - Reset password{% endblock %}

{% block body_content %}
<form action="{% url 'account_reset_password' %}" method="post" class="single-form">
    {% csrf_token %}

    <div class="alert alert-primary">Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</div>
    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}
    {{ form.email|add_class:"form-control form-control-lg mt-3"|add_error_class:"is-invalid" }}
    <div class="invalid-feedback">{{ form.email.errors }}</div>
    <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Reset password</button>
    <div class="alert alert-secondary mt-3">Please contact us if you have any trouble resetting your password.</div>
</form>
{% endblock %}
