{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="login">
    <form class="login__form" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <div class="login__email">{{ form.email }}</div>
        <div class="login__password">{{ form.password }}</div>
        <input type="hidden" name="next" value="{{ next_url }}">
        <input class="login__btn" type="submit" name="submit" value="Log in">
    </form>
    <a href="{% url 'accounts:recover' %}"><div class="login__recovering-password-btn">I've forgotten the password</div></a>
</div>
{% endblock %}