{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}
{% block content %}
<div class="reset-password">
    <form class="reset-password__form" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <div class="reset-password__password">{{ form.password1 }}</div>
        <div class="reset-password__password">{{ form.password2 }}</div>
        <input class="reset-password__btn" type="submit" name="submit" value="Save">
    </form>
    {% if form.non_field_errors %}
    <div class="reset-password__errors">
        {% for err in form.non_field_errors %}
        <p>{{ err }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}