{% extends 'communities/base.html' %}

{% load static %}
{% load json %}
{% load math %}

{% block title %}{{ block.super }} - {{ community.name }}{% endblock %}

{% block body_content %}
{% include 'communities/menu_snippet.html' with active='' %}
<div class="container-fluid">
    <div class="row align-items-center no-gutters mb-3">
        <a href="{{ community.vk_url }}"><img width="50" height="50" src="{{ community.icon50url }}" class="rounded"></a>
        <div class="col pl-3">
            <div><a href="{{ community.vk_url }}">{{ community.name }}</a></div>
            <div class="detail__status text-secondary">{{ community.status }}</div>
        </div>
    </div>

    <a class="btn btn-outline-primary btn-sm mb-3" href="{% url 'communities:post_list' %}?community_id={{ community.vkid }}&sort_by=published_at&inverse=on">Find the community's posts</a>

    <div class="row no-gutters mb-3">
        <table>
            <tr>
                <td>Followers:</td>
                <td>
                    {% if community.followers is not None %}
                        {{ community.followers }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Views /post:</td>
                <td>
                    {% if community.views_per_post is not None %}
                        {{ community.views_per_post|floatformat:0 }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Likes /1K views:</td>
                <td>
                    {% if community.likes_per_view is not None %}
                        {{ community.likes_per_view|multiply:1000|floatformat:0 }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    {% if community.description %}
    <div class="border p-3 mb-3">{{ community.description }}</div>
    {% endif %}

    {% if followers_history|length >= 2 %}
    <div>
        <canvas id="history"></canvas>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block body_scripts %}
    {{ block.super }}
    {% if followers_history|length >= 2 %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script>
        var followers_history = {{ followers_history | json | safe }};
    </script>
    <script src="{% static 'communities/scripts/community_detail.js' %}"></script>
    {% endif %}
{% endblock %}
