{% extends 'communities/base.html' %}
{% load static %}
{% load range %}
{% load math %}
{% load url_query %}
{% load inthumanize %}
{% load community_tags %}
{% block menu %}
<div class="menu">
    <div class="menu__communities">COMMUNITIES</div>
    <a href="{% url 'communities:post_list' %}"><div class="menu__posts">POSTS</div></a>
    <form class="menu__logout" action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <input name="submit" type="submit" value="LOGOUT">
    </form>
</div>
{% endblock %}
{% block communities_content %}
<div class="filter">
    <form name="filter" action="{% url 'communities:community_list' %}" method="get">
        <div class="filter__item">
            <label class="filter__label">Verified</label>
            <div class="filter__field">{{ form.verified }}</div>
        </div>
        <div class="filter__item">
            <label class="filter__label">Type</label>
            <div class="filter__field">{{ form.ctype }}</div>
        </div>
        <div class="filter__item">
            <label class="filter__label">Age limit</label>
            <div class="filter__field">{{ form.age_limit }}</div>
        </div>
        <div id="followers-range-widget" class="filter__item">
            <label class="filter__label">Followers<span class="filter__sorting-icon"></span></label>
            <div class="filter__field">{{ form.followers_min }}</div> - <div class="filter__field">{{ form.followers_max }}</div>
        </div>
        <div id="views-range-widget" class="filter__item">
            <label class="filter__label">Views (per post)<span class="filter__sorting-icon"></span></label>
            <div class="filter__field">{{ form.views_per_post_min }}</div> - <div class="filter__field">{{ form.views_per_post_max }}</div>
        </div>
        <div id="likes-range-widget" class="filter__item">
            <label class="filter__label">Likes (per 1K views)<span class="filter__sorting-icon"></span></label>
            <div class="filter__field">{{ form.likes_per_view_min }}</div> - <div class="filter__field">{{ form.likes_per_view_max }}</div>
        </div>
        <div class="filter__hidden-item">{{ form.sort_by }}</div>
        <div class="filter__hidden-item">{{ form.inverse }}</div>
        <div class="filter__item">
            <div class="filter__field"><input class="filter__btn" type="submit" name="submit" value="FILTER"></div>
        </div>
    </form>
</div>
<div class="pagination">
{% for n in page_obj.paginator.num_pages|range %}
    {% if n|add:1 == page_obj.number %}
        <span class="pagination__page-btn pagination__page-btn--active">{{ n|add:1 }}</span>
    {% else %}
        <a class="pagination__page-btn" href="{% url 'communities:community_list' %}?{% url_query p=n|add:1 %}">{{ n|add:1 }}</a>
    {% endif %}
{% endfor %}
</div>
<div class="comm-list">
    <table class="comm-list__table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Followers</th>
            <th>Views/post</th>
            <th>Likes/1K views</th>
            <th></th>
        </tr>
    {% for c in page_obj %}
        <tr>
            <td class="comm-list__logo">
                <a href="{{ c.vk_url }}"><img src="{{ c.icon100url }}"></a>
                <div class="comm-list__attr-panel">
                    <span class="comm-list__attr-icon">{{ c.ctype | type2str }}</span>
                    {% if c.age_limit|age_limit2str %}<span class="comm-list__attr-icon">{{ c.age_limit|age_limit2str }}</span>{% endif %}
                </div>
            </td>
            <td class="comm-list__name">
                {% if c.verified %}<span class="comm-list__verified-icon"></span>{% endif %}
                <a href="{{ c.vk_url }}">{{ c.name }}</a>
            </td>
            <td class="comm-list--nowrap">{% if c.followers is not None %}{{ c.followers | intformat:2 | intspace }}{% endif %}</td>
            <td>{% if c.views_per_post is not None %}{{ c.views_per_post | intformat:2 | intspace }}{% endif %}</td>
            <td>{% if c.likes_per_view is not None %}{{ c.likes_per_view | multiply:1000 | intformat:2 }}{% endif %}</td>
            <td>
                <a class="comm-list__info-icon" href="{% url 'communities:community_detail' c.vkid %}"></a>
                <a class="comm-list__post-icon" href="{% url 'communities:post_list' %}?community_id={{ c.vkid }}&sort_by=published_at&inverse=on"></a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
<script src="{% static 'communities/scripts/community_list.js' %}"></script>
{% endblock %}