{% extends 'communities/base.html' %}
{% load static %}
{% load json %}
{% load url_query %}
{% load math %}
{% load community_tags %}

{% block script %}
    var followers_history = {{ followers_history | json | safe }};
{% endblock %}
{% block title %}{{ community.name }}{% endblock %}
{% block menu %}
<div class="menu">
    <a href="{% url 'communities:community_list' %}"><div class="menu__communities">COMMUNITIES</div></a>
    <a href="{% url 'communities:post_list' %}"><div class="menu__posts">POSTS</div></a>
    <form class="menu__logout" action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <input name="submit" type="submit" value="LOGOUT">
    </form>
</div>
{% endblock %}
{% block communities_content %}
<div class="comm-details__header">
    <a href="{{ community.vk_url }}"><div class="comm-details__icon"><img width="100%" height="100%" src="{{ community.icon50url }}"></div></a>
    <div class="comm-details__info">
        <a href="{{ community.vk_url }}"><div class="comm-details__name">{{ community.name }}</div></a>
        <div class="comm-details__status">{{ community.status }}</div>
    </div>
</div>
<a class="comm-details__find-posts" href="{% url 'communities:post_list' %}?community_id={{ community.vkid }}&sort_by=published_at&inverse=on">Find the community's posts</a>
<div class="comm-details__params">
    <table>
        <tr>
            <td>Followers:</td>
            <td>
                {% if community.followers is not None %}
                    {{ community.followers }}
                {% else %}
                    N/A
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Views per post:</td>
            <td>
                {% if community.views_per_post is not None %}
                    {{ community.views_per_post | floatformat:0 }}
                {% else %}
                    N/A
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Likes per 1K views:</td>
            <td>
                {% if community.likes_per_view is not None %}
                    {{ community.likes_per_view | multiply:1000 | floatformat:0 }}
                {% else %}
                    N/A
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% if community.description %}
<div class="comm-details__description">
    <p>{{ community.description }}</p>
</div>
{% endif %}
{% if followers_history|length >= 2 %}
<canvas class="comm-details__graph" id="history"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="{% static 'communities/scripts/community_detail.js' %}"></script>
{% endif %}
{% endblock %}