{% extends 'communities/base.html' %}
{% load static %}
{% load math %}
{% load url_query %}
{% load inthumanize %}
{% load community_tags %}
{% block communities_content %}
<div class="filter">
    <form name="filter" action="{% url 'communities:community_list' %}" method="get">
        <div class="filter__item">
            <label class="filter__label">Verified</label>
            <div class="filter__field">{{ form.verified }}</div>
        </div>
        <div class="filter__item">
            <label class="filter__label">Type</label>
            <div class="filter__field">{{ form.ctype }}</div>
        </div>
        <div class="filter__item">
            <label class="filter__label">Age limit</label>
            <div class="filter__field">{{ form.age_limit }}</div>
        </div>
        <div id="followers-range-widget" class="filter__item">
            <label class="filter__label">Followers<span class="filter__sorting-icon"></span></label>
            <div class="filter__field">{{ form.followers_min }}</div> - <div class="filter__field">{{ form.followers_max }}</div>
        </div>
        <div id="views-range-widget" class="filter__item">
            <label class="filter__label">Views (per post)<span class="filter__sorting-icon"></span></label>
            <div class="filter__field">{{ form.views_per_post_min }}</div> - <div class="filter__field">{{ form.views_per_post_max }}</div>
        </div>
        <div id="likes-range-widget" class="filter__item">
            <label class="filter__label">Likes (per 1K views)<span class="filter__sorting-icon"></span></label>
            <div class="filter__field">{{ form.likes_per_view_min }}</div> - <div class="filter__field">{{ form.likes_per_view_max }}</div>
        </div>
        <div class="filter__hidden-item">{{ form.sort_by }}</div>
        <div class="filter__hidden-item">{{ form.inverse }}</div>
        <div class="filter__item">
            <div class="filter__field"><input type="submit" name="submit" value="FILTER"></div>
        </div>
    </form>
</div>
<div>
    {% if page.has_previous %}
    <a href="{% url 'communities:community_list' %}?{% url_query p=page.previous_page_number %}">&lt;-PREVIOUS</a>
    {% endif %}
    {% if page.has_next %}
    <a href="{% url 'communities:community_list' %}?{% url_query p=page.next_page_number %}">NEXT-&gt;</a>
    {% endif %}
</div>
<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Followers</th>
        <th>Views/post</th>
        <th>Likes/1K views</th>
        <th></th>
    </tr>
{% for c in page %}
    <tr>
        <td>
            <div><img src="{{ c.icon100url }}"></div>
            <div>
                <span>{{ c.verified | verified2str }}</span>
                <span>{{ c.ctype | type2str }}</span>
                <span>{{ c.age_limit | age_limit2str }}</span>
            </div>
            <div><a href="{{ c.vk_url }}">link</a></div>
        </td>
        <td>{{ c.name }}</td>
        <td>{% if c.followers is not None %}{{ c.followers | intformat:2 | intspace }}{% endif %}</td>
        <td>{% if c.views_per_post is not None %}{{ c.views_per_post | intformat:2 | intspace }}{% endif %}</td>
        <td>{% if c.likes_per_view is not None %}{{ c.likes_per_view | multiply:1000 | intformat:2 }}{% endif %}</td>
        <td><a href="{% url 'communities:community_detail' c.vkid %}">more</a></td>
    </tr>
{% endfor %}
</table>
<script src="{% static 'communities/scripts/community_list.js' %}"></script>
{% endblock %}