{% extends 'base.html' %}
{% load math %}
{% load url_query %}
{% load inthumanize %}
{% load community_tags %}
{% block content %}
<div>
    <form action="{% url 'communities:list' %}" method="get">
        {{ form }}
        <input type="submit" name="submit" value="ok">
    </form>
</div>
<div>
    {% if page.has_previous %}
    <a href="{% url 'communities:list' %}?{% url_query p=page.previous_page_number %}">&lt;-PREVIOUS</a>
    {% endif %}
    {% if page.has_next %}
    <a href="{% url 'communities:list' %}?{% url_query p=page.next_page_number %}">NEXT-&gt;</a>
    {% endif %}
</div>
<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Followers</th>
        <th>Views/post</th>
        <th>Likes/1K views</th>
        <th></th>
    </tr>
{% for c in page %}
    <tr>
        <td>
            <div><img src="{{ c.icon100url }}"></div>
            <div>
                <span>{{ c.verified | verified2str }}</span>
                <span>{{ c.ctype | type2str }}</span>
                <span>{{ c.age_limit | age_limit2str }}</span>
            </div>
            <div><a href="{{ c.vk_url }}">link</a></div>
        </td>
        <td>{{ c.name }}</td>
        <td>{% if c.followers is not None %}{{ c.followers | intformat:2 | intspace }}{% endif %}</td>
        <td>{% if c.views_per_post is not None %}{{ c.views_per_post | intformat:2 | intspace }}{% endif %}</td>
        <td>{% if c.likes_per_view is not None %}{{ c.likes_per_view | multiply:1000 | intformat:2 }}{% endif %}</td>
        <td><a href="{% url 'communities:detail' c.vkid %}">more</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}