{% load math %}
{% load inthumanize %}
{% load community_tags %}
<div>
    <div>
        <div><img src="{{ post.community.icon50url }}"></div>
        <div>
            <div>{{ post.community.name }}</div>
            <div>{{ post.published_at|date:'Y/n/j G:i' }}</div>
        </div>
    </div>
    <div>
        <div>
            <div>{{ post.content|first|get_item:'text' }}</div>
            {% if 'attachments' in post.content|first %}
            <div>
            {% for attachment in post.content|first|get_item:'attachments' %}
                {% include 'communities/attachments/attachment_snippet.html' %}
            {% endfor %}
            </div>
            {% endif %}
        </div>
        <div>
        {% for content_item in post.content|slice:'1:' %}
            <div>{{ content_item|get_item:'text' }}</div>
            {% if 'attachments' in content_item %}
            <div>
            {% for attachment in content_item|get_item:'attachments' %}
                {% include 'communities/attachments/attachment_snippet.html' %}
            {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div>
        <span>{{ post.likes|intspace }}</span>
        <span>{{ post.shares|intspace }}</span>
        <span>{% if post.views is not None %}{{ post.views|intspace }}{% else %}N/A{% endif %}</span>
        <span>{{ post.comments|intspace }}</span>
    </div>
    <div>
        <span>{% if post.post_likes_per_view is not None %}{{ post.post_likes_per_view|multiply:1000|intformat:2|intspace }}{% else %}N/A{% endif %}</span>
    </div>
</div>