{% load static %}
{% load math %}
{% load inthumanize %}
{% load community_tags %}
<div class="post">
    <div class="post__header">
        <div class="post__icon"><img width="100%" height="100%" src="{{ post.community.icon50url }}"></div>
        <div class="post__info">
            <div class="post__community-name">{{ post.community.name }}</div>
            <div class="post__publish-time">{{ post.published_at|date:'Y/n/j G:i' }}</div>
        </div>
    </div>
    <div class="post__content">
        <div>
            <div class="post__text">{{ post.content|first|get_item:'text' }}</div>
            {% if 'attachments' in post.content|first %}
            <div>
            {% for attachment in post.content|first|get_item:'attachments' %}
                {% include 'communities/attachments/attachment_snippet.html' %}
            {% endfor %}
            </div>
            {% endif %}
        </div>
        <div>
        {% for content_item in post.content|slice:'1:' %}
            <div class="post__text">{{ content_item|get_item:'text' }}</div>
            {% if 'attachments' in content_item %}
            <div>
            {% for attachment in content_item|get_item:'attachments' %}
                {% include 'communities/attachments/attachment_snippet.html' %}
            {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="post__footer">
        <div class="post__indicators">
            <div class="post__indicator">
                <img class="post__indicator-icon" width="100%" src="{% static '/communities/images/like.svg' %}">
                <div class="post__indicator-value">{{ post.likes|intspace }}</div>
            </div>
            <div class="post__indicator">
                <img class="post__indicator-icon" width="100%" src="{% static '/communities/images/share.svg' %}">
                <div class="post__indicator-value">{{ post.shares|intspace }}</div>
            </div>
            <div class="post__indicator">
                <img class="post__indicator-icon" width="100%" src="{% static '/communities/images/comment.svg' %}">
                <div class="post__indicator-value">{{ post.comments|intspace }}</div>
            </div>
            {% if post.views is not None %}
            <div class="post__indicator">
                <img class="post__indicator-icon" width="100%" src="{% static '/communities/images/view.svg' %}">
                <div class="post__indicator-value">{{ post.views|intspace }}</div>
            </div>
            {% endif %}
            {% if post.post_likes_per_view is not None %}
            <div class="post__indicator">
                <img class="post__indicator-icon" width="100%" src="{% static '/communities/images/star.svg' %}">
                <div class="post__indicator-value">{{ post.post_likes_per_view|multiply:1000|intformat:2|intspace }}</div>
            </div>
            {% endif %}
        </div>
    </div>
</div>