{% extends 'base.html' %}
{% load url_query %}
{% block content %}
<div>
    <form action="{% url 'communities:post_list' %}" method="get">
        {{ form }}
        <input type="submit" name="submit" value="ok">
    </form>
</div>
<div>
    {% if page.has_previous %}
    <a href="{% url 'communities:post_list' %}?{% url_query p=page.previous_page_number %}">&lt;-PREVIOUS</a>
    {% endif %}
    {% if page.has_next %}
    <a href="{% url 'communities:post_list' %}?{% url_query p=page.next_page_number %}">NEXT-&gt;</a>
    {% endif %}
</div>
<div>
{% for p in page %}
{% include 'communities/post_snippet.html' with post=p %}
{% endfor %}
</div>
{% endblock %}