/* communities app */
html, body {
    height: 100%;
}

/* menu */
.navbar-nav form button {
    border-style: none;
    background-color: inherit;
    padding: 0;
    color: inherit;
    cursor: pointer;
}

/* filter form */
.minus {
    margin: auto .375rem;
    width: 1rem;
    height: 0;
    border: 1px solid #909090;
}
.filter__sorting-icon {
    display: inline-block;
    float: right;
    width: 1em;
    height: 1em;
    cursor: pointer;
}
.filter__sorting-icon--up {
    background: url(/static/communities/images/up.svg) no-repeat;
}
.filter__sorting-icon--down {
    background: url(/static/communities/images/down.svg) no-repeat;
}
.filter__sorting-icon--disabled {
    opacity: 0.4;
}

/* community list */
.table-head .col {
    white-space: nowrap;
}

/* community detail */
.detail__status {
    font-size: .8rem;
    line-height: 1rem;
}

/* post list */
.post-list {
    text-align: center;
    word-spacing: 10px;
    font-size: 0;
    background-color: #edeef0;
}

.post {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    word-spacing: normal;
    margin-top: 15px;
    width: 100%;
    max-width: 550px;
    border-radius: 2px;
    background-color: #fff;
    font-size: 13px;
}

.post__header {
    padding: 15px 20px 0;
}

.post__icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.post__info {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    padding-top: 8px;
}

.post__community-name {
    display: block;
    font-weight: 700;
    color: #2a5885;
}

.post__publish-time {
    padding-top: 3px;
    font-size: 12.5px;
    color: #939393;
}

.post__comm-info-icon {
    float: right;
    margin: 15px;
    width: 20px;
    height: 20px;
    background: url(/static/communities/images/info.svg) no-repeat;
}

.post__content {
    padding: 8px 20px 19px;
}

.post__text {
    padding-top: 3px;
}

.post__photo {
    padding-top: 10px;
}

.post__video {
    padding-top: 10px;
}

.post__video-preview {
    position: relative;
}

.post__video-play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0,0,0,.5) url(/static/communities/images/video_play.png) 19px 13px no-repeat;
}

.post__video-duration {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    margin: 8px;
    padding: 0 7px;
    height: 23px;
    line-height: 23px;
    font-size: 12.5px;
    border-radius: 3px;
    background: rgba(0,0,0,.4);
    color: #fff;
}

.post__video-info {
    padding-top: 8px;
    padding-bottom: 2px;
}

.post__video-title {
    font-size: 12.5px;
    font-weight: 700;
    color: #2a5885;
}

.post__video-views {
    font-size: 12.5px;
    color: #939393;
}

.post__footer {
    padding: 0 20px;
}

.post__indicators {
    padding: 12px 0;
    border-top: 1px solid #e7e8ec;
}

.post__indicator {
    display: inline-block;
}

.post__indicator-icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.post__indicator-value {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    color: #67707a;
}
